.stories {
  display: flex;
  gap: 10px;
  height: 150px;
  margin-bottom: 30px;

  .story {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    span {
      position: absolute;
      bottom: 5px;
      left: 10px;
      color: white;
      font-size: 10px;
      font-weight: 500;
      text-shadow: 2px 2px #000;
    }

    button {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      bottom: 20px;
      left: 10px;
      color: white;
      background-color: #5271ff;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      font-size: 24px;
    }
  }
}
