.register {
  height: 100vh;
  background-color: #ffffd1;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 10px;
    max-height: 80vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;

    .left {
      min-width: 50%;
      justify-content: center;
      background: linear-gradient(rgba(77, 59, 0, 0.5), rgba(77, 59, 0, 0.5)),
        url("https://i.pinimg.com/originals/a9/a6/e1/a9a6e1e2a8f8bfee927c5f08028e801f.jpg")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 50px;
        line-height: 50px;
      }

      p {
      }

      span {
        font-size: 14px;
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: #fad02c;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .right {
      min-width: 50%;
      justify-content: center;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgrey;
          padding: 20px 10px;
        }

        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #fad02c;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
